header {
    background-color: #641732; /* اللون العنابي كما في الصورة */
  color: #9e9da2;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header figure {
    display: flex;
    align-items: center;
    margin: 0;
}

header h1 {
    font-size: 1.5rem;
    margin-left: 15px;
}

/* قائمة التنقل - شريط الروابط */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* مسافة بين الروابط */
    padding: 10;
}

nav ul li a {
    text-decoration: none;
    color: #9e9da2;
    font-weight: bold;
    font-size: 0.9rem;
}

nav ul li a:hover {
    color: #ffcc00; /* تغيير اللون عند تمرير الماوس */
}
main{
    background-color: #e3d4c3;
    direction: rtl;
    text-align: right;
    padding: 20px;
}
h2{
    color: #641732;
     text-align: right;
}
footer{
    direction: rtl;
    text-align: right;
    color: #9e9da2;
    background-color: #641732;
     padding: 5px 10px 5px 10px;
     background-color: ;
}
footer p{
    color: #9e9da2;
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}