header{
    color: black;
    font-size: large;
    background-color: #631733;
}
.main{
    color: white;
}
.supject{
    color: white
}
.abut{
    color: white;
}
.graduation_projects{
    color: white;
}
.contact{
    color: white;
}
